.footer {
	background-color: #222222;
	min-height: 20%;
}

.footer .container {
	padding-top: 2%;
	padding-bottom: 2%;
}

.footer p {
	color: #fee252;
	text-align: center;
}

.footer a {
	color: #ffffff;
}

.footer a:hover {
	color: yellow;
}

/* Small devices (phones, up to 768px) */
@media (max-width: 767px) {
	.footer p {
		font-size: 1em;
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (orientation : portrait) {
	.footer p {
		font-size: 1.5em;
	}
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (orientation : landscape) {
	.footer p {
		font-size: 1.1em;
	}
}