.home {
	background-color: #388E3C;
	background-image:url('/images/building-4.jpg'); 
	min-height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0%;
	background-attachment: fixed;
}

.home .container {
	position: relative;
	margin-top: 5%;
	
	/*width: 70%;*/
	padding-bottom: 5%;

	opacity: 1;
}

.home .container .info {
	background-color: rgba(255, 255, 255, 0.6);
	padding-left: 2em;
	padding-bottom: 5em;
	margin-top: 6em;
}

.home .container .info  img {
	/*display: block;*/
	/*margin: auto;*/
	
	width: 30%;

	margin-top: 2em;
	margin-bottom: 5em;
}

.home .container .info  .description {
	font-size: 1.8em;
	color: #000;
}